version: '3.9'
services:
  webdav:
    image: ghcr.io/hacdias/webdav:v5.11.1@sha256:158ed1aa0acc4be807d2a8c1a80feaf500a1f06e38e1796ff99cd990ada9a20d
    hostname: webdav
    container_name: webdav__webdav
    restart: unless-stopped

    environment:
      ADMIN_USERNAME: ${ADMIN_USERNAME}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}

    volumes:
      - type: bind
        source: ./config.yml
        target: /config.yml
        read_only: true

      - type: bind
        source: /data/webdav
        target: /data

    command: -c /config.yml

    networks:
      - default

    deploy:
      resources:
        limits:
          memory: 128m

  cloudflared:
    image: cloudflare/cloudflared:2026.2.0-amd64@sha256:d4d2bf56c792ab207fa557c2431c250bfc8e4114d7e28c98eda1896bf65f10f6
    hostname: cloudflared
    container_name: webdav__cloudflared
    restart: unless-stopped

    environment:
      TUNNEL_METRICS: 0.0.0.0:9126
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}
    user: root

    networks:
      default:

    deploy:
      resources:
        limits:
          memory: 128m

networks:
  default:
    name: webdav__default
