version: '3.9'
services:
  webdav:
    image: ghcr.io/hacdias/webdav:v5.8.0@sha256:02d5b7d470e7ea1cf85a3573721efe2b36c606bfe7df72be59d685f91ac1f52e
    hostname: webdav
    container_name: webdav__webdav
    restart: unless-stopped

    environment:
      ADMIN_USERNAME: ${ADMIN_USERNAME}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}

    volumes:
      - type: bind
        source: ./config.yml
        target: /config.yml
        read_only: true

      - type: bind
        source: /data/webdav
        target: /data

    command: -c /config.yml

    networks:
      - default

    deploy:
      resources:
        limits:
          memory: 128m

  cloudflared:
    image: cloudflare/cloudflared:2026.1.2-amd64@sha256:e6aba36f47b17ba21c62404f826e7be09f089dc0d8978732752204a75d9d7375
    hostname: cloudflared
    container_name: webdav__cloudflared
    restart: unless-stopped

    environment:
      TUNNEL_METRICS: 0.0.0.0:9126
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}
    user: root

    networks:
      default:

    deploy:
      resources:
        limits:
          memory: 128m

networks:
  default:
    name: webdav__default
